table tbody tr td {
  margin: 0px;
  border: 0px solid grey;
  width: 100px;
  height: 100px;
  text-align: center;
  background: rgb(0, 0, 16);
  border-radius: 0px;
}

table tbody tr .c {
  border-top-right-radius: 30px;
}
table tbody tr .a {
  border-top-left-radius: 30px;
}
table tbody tr .i {
  border-bottom-right-radius: 30px;
}
table tbody tr .g {
  border-bottom-left-radius: 30px;
}

.X {
  font-size: xx-large;
}

.X, .O {
  text-shadow: 1px 1px 5px purple;
  /* text-shadow: -3px 0px 0px blueviolet; */
}

.O {
  font-size: large;
}

table {
  border-radius: 30px;
  background: linear-gradient(purple, blueviolet);
}

body {
  background-color: rgb(0, 0, 16);
  padding-top: 70px;
  text-align: center;
}

* {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  border-bottom: 0px solid black;
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 16);
  padding: 20px;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
}

.mainIconA {
  font-size: xx-large;
  color: purple;
}

.mainIconB {
  font-size: xx-large;
  color: blueviolet;
}

.home .buttons{
  margin-top: 20px;
  color: white;
  margin-top: 10px;
  width: 300px;
  height: 50px;
  border: 0px solid blue;
  border-radius: 50px;
  font-size: normal;
  background: rgb(24, 24, 55);
}

.home .buttons:hover,
.resetButton:hover {
  box-shadow: 0px 0px 0px 1.5px rgba(141, 48, 228, .4);
}

.resetButton{
  height: 50px;
}

.resetButton,
.first-prompt #button {
  width: 100px;
  border-radius: 10px;
  border: 0px solid black;
  background: linear-gradient(purple, blueviolet);
}

.multiplayer-login {
  margin-top: 50px;
}

.multiplayer-login .button {
  margin-top: 10px;
  height: 40px;
  width: 300px;
  border: 0px solid black;
  border-radius: 10px;
  background: rgb(24, 24, 55);
  padding: 5px;
  text-align: center;
}

.multiplayer-login .button:disabled {
  opacity: .3;
}

.first-prompt {
  color: white;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex: 1px;
}

.first-prompt #button {
  height: 45px;
}

.waiting-screen {
  position: fixed;
  width: 100%;
  text-align: center;
}

.waiting-for-guest-text {
  animation: fade-in-and-out infinite 5s linear;
}

@keyframes fade-in-and-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.warning-text {
  font-size: x-small;
}